notas bibliográficas/OneDrive - Fatec Centro Paula Souza/00-Casa/00-Meus documentos/PlatformIO/Projects/esp32-http-server-main-cadeiraDeRodas/sistemaIOTAmazon
notas bibliográficas/OneDrive - Fatec Centro Paula Souza/6semestre/mineracao_dados/repositorioGitHub/mineracaoDeDados6Semestre
